.about {
    .container();
    width: 100%;
    margin: 0 auto;
    background-color: @white;
}
.about__header {
    padding-top: 20px;
    margin: 0 auto;
    text-align: center;
    font-size: 25px;
}
.about__content {
    padding-top: 30px;
    font-size: 18px;
    text-align: center;
    padding-bottom: 10px;
}
.about__image {
    display: none;
}

@media @desktop-widths {
    .about {
        display: flex;
        flex-direction: row;
    }
    .about__image {
        display: block;
        width: 50%;
    }
    .about__img {
        max-width: 100%;
        height: auto;
    }
    .about__content {
        text-align: left;
        width: 500px;
        margin: 0 auto;
    }
    .about__header {
        margin: 0 auto;
        margin-top: 30px;
    }
}