.gallery {
    min-height: 690px;
}
.gallery__mobile {
    width: 100%;
    .container();
    margin: 0 auto;
}
.gallery__element-header {
    text-align: center;
    font-size: 19px;
    width: 300px;
    margin-left: 15%;
    padding-top: 350px;
}
.gallery__element-date {
    font-size: 19px;
    width: 300px;
    margin-left: 18%;
}
.gallery__element-content {
    text-align: justify;
    font-size: 19px;
    width: 300px;
    margin-left: 18%;
}