.offer2 {
    background-color: #FFE4E1;
}
.offer2__header {
    width: 100%;
    .container();
    margin: 0 auto;
    padding-bottom: 20px;
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    padding-top: 20px;
    padding-bottom: 20px;
}