.offer3 {
    background-color: @pinky;
    min-height: 300px;
}
.offer3__header {
    width: 100%;
    .container();
    margin: 0 auto;
    padding-bottom: 20px;
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    padding-top: 20px;
    padding-bottom: 20px;
}
.offer3__btn {
    display: block;
    margin: auto;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
    width: 150px;
    text-decoration: none;
    background-color: white;
    color: black;
    text-transform: uppercase;
    background-color: transparent;
    border-radius: 20px;
    border: 2px solid black;
    &:hover {
        background-color: black;
        color: white;
        border: 2px solid black;
    }
}
.offer3__input {
    display: block;
    margin: auto;
    margin-bottom: 15px;
    outline: none;
    background-image: url(../img/icons/message-closed-envelope.svg);
    background-repeat: no-repeat;
    background-position-x: 97%;
    width: 200px;
}
@media @tablet-widths {
    .offer3__btn {
        margin-top: 35px;
    }
    .offer3 {
        min-height: 250px;
    }
    .offer3__input {
        
    }
}