.slider {
    width: 100%;
}
.slider__element {
    margin: 0 auto;
    max-width: 100%;
}
.slider__slides {
    margin:0 auto;
    position: relative;
}
.slider__pic {
    max-width: 100%;
    min-height: 450px;
    background-image: url(../img/mobile.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 50%;
    background-position-x: 50%;
}
.slider__item img {
    max-width: 100%;
}
@media @tablet-widths {
    .slider__pic {
        background-image: url(../img/tablet.jpg);
    }
}
@media @desktop-widths {
    .slider__pic {
        background-image: url(../img/desktop.jpg);
        min-height: 600px;
    }
}
