.slider {
    width: 100%;
}
.slider__element {
    margin: 0 auto;
    max-width: 100%;
}
.slider__slides {
    margin:0 auto;
    position: relative;
}
.slider__pic {
    display: block;
    width: 100%;
    overflow: hidden;
}
.slider__item img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
}
@media @tablet-widths {
    .slider__item img {
        //height: 70vh;
    }
}
@media @desktop-widths {
    .slider__item img {
        //height: 100vh;
    }
}
